body { margin: 0; background-color: #333333; }

div.page {
    width: 21cm;
    height: 29.7cm;
    padding: 1.97cm 2.11cm 1.42cm;
    box-sizing: border-box;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &.page-left {
        padding: 1.97cm 2.38cm 1.42cm 2.11cm;
        .header, .content { margin-left: 3.39cm; }
        .footer {
            flex-direction: row;
            .desc { margin-left: 1em; }
        }
    }
    &.page-right {
        padding: 1.97cm 2.11cm 1.42cm 2.38cm;
        .header, .content { margin-right: 3.39cm; }
        .footer {
            flex-direction: row-reverse;
            .desc { margin-right: 1em; }
        }
    }

    > * {
        flex-shrink: 0;
    }

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0.65mm;
        margin-bottom: 1.58cm;
        .number {
            color: #ae6b5b;
            font: 2em "方正准雅宋简体";
            align-self: flex-start;
            margin-bottom: 5mm;
        }
        .title {
            color: #ae6b5b;
            font: 1.75em "方正准雅宋简体";
            margin-bottom: 5.9mm;
            > sup {
                vertical-align: text-top;
                color: black;
                font: 2.5mm "Rope Sequence Number ST";
            }
        }
        .author {
            font: 1em "方正仿宋简体";
        }
    }

    .content {
        text-align: justify;
        font: 1em/1.75 "Times New Roman", "方正书宋简体";
        display: flex;
        flex-direction: column;
        &.align-center {
            align-items: center;
        }
        p {
            margin-block: 0;
            &.align-center {
                align-self: center;
            }
            &.align-right {
                align-self: flex-end;
            }
            &::first-letter {
                margin-left: 2em;
            }
        }
        sup {
            vertical-align: text-top;
            color: black;
            font: 2.5mm "Rope Sequence Number ST";
        }
    }

    .learning-tips {
        margin-left: 4.6mm;
        margin-right: -0.5mm;
        margin-top: 2.08cm;
        .title {
            display: flex;
            align-items: center;
            color: #ae6b5b;
            .icon {
                margin-right: 4.2mm;
            }
            .text {
                margin-right: 4.2mm;
                font: 1.2em "方正兰亭中黑简体";
            }
            .dash {
                flex-grow: 1;
            }
        }
        .tip {
            text-align: justify;
            font: 1em/1.75 "Times New Roman", "方正楷体简体";
            display: flex;
            flex-direction: column;
            margin: 2.6mm 8.8mm 0 3.7mm;
            &.align-center {
                align-items: center;
            }
            p {
                margin-block: 0;
                &::first-letter {
                    margin-left: 2em;
                }
            }
        }
    }

    .whitespace {
        flex-grow: 1;
    }

    .notes-wrapper {
        .divider {
            margin-bottom: 1.9mm;
        }
        .notes {
            column-count: 2;
            column-gap: 13mm;
            orphans: 1;
            widows: 1;
            .note {
                font-size: 0.75em;
                display: flex;
                align-items: baseline;
                .number {
                    font-family: "Rope Sequence Number ST";
                    margin-right: 0.3em;
                }
                .text {
                    font-family: "Times New Roman", "方正书宋简体";
                    line-height: 1.65;
                    text-align: justify;
                    .pinyin {
                        font-family: "NEU-XT";
                    }
                }
            }
        } 
    }
    
    .footer {
        margin-top: 7.75mm;
        display: flex;
        align-items: baseline;
        .page-number {
            font: 0.85em "Helvetica-Light";
        }
        .desc {
            font: 0.75em "方正书宋简体";
        }
    }
}

@font-face {
    font-family: "方正准雅宋简体";
    src: url("assets/fonts/FZZHUNYSJW.TTF");
}
@font-face {
    font-family: "方正仿宋简体";
    src: url("assets/fonts/FZFSJW.TTF");
}
@font-face {
    font-family: "方正书宋简体";
    src: url("assets/fonts/FZSSJW.TTF");
}
@font-face {
    font-family: "Rope Sequence Number ST";
    src: url("assets/fonts/RopeSequenceNumberST.ttf");
}
@font-face {
    font-family: "方正兰亭中黑简体";
    src: url("assets/fonts/FZLTZHJW.TTF");
}
@font-face {
    font-family: "方正楷体简体";
    src: url("assets/fonts/FZKTJW.TTF");
}
@font-face {
    font-family: "Helvetica-Light";
    src: url("assets/fonts/Helvetica-Light.otf");
}
@font-face {
    font-family: "NEU-XT";
    src: url("assets/fonts/NEU-XT.ttf");
}